


#container {
    margin-left: 20%;
    margin-right: 20%;
    font-family: Rubik, sans-serif;
}
 
#h1-heading {
    color: rgb(38, 102, 185);
    text-align: center;
}
 
#p-heading {
    font-size: medium;
    text-align: center;
}
 
#course-list {
    display: flex;
    flex-wrap: wrap;
}
 
.div {
    width: 350px;
    /* flex: 40%; */
    text-align: center;
    margin-left: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
}
 
.button {
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
    border: 1px solid;
    font-size: medium;
    color: rgb(38, 102, 185);
    background-color: rgb(210, 217, 227);
}
 
.button:hover {
    cursor: pointer;
}
 
.div h3 {
    color: rgb(38, 102, 185);
}